<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="cam.manoash.twoipcapps.sharedmemoryappa" />
    </queries>

    <application
        android:label="Shared MemoryFile App B"
        android:theme="@style/Theme.TwoIpcApps">
        <activity
            android:name=".MainActivityB"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SharedMemoryServiceB"
            android:exported="true">
            <intent-filter>
                <action android:name="cam.manoash.twoipcapps.sharedmemoryappb.SharedMemoryService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>

